



<div class="item">

    <div class="header"> @Header </div>
    <div class="content-con">@Content</div>
    <div class="footer-el left">0,05</div>
    <div class="footer-el right">65</div>

</div>

@code{
    [Parameter]
    public string Content { get; set; }

    [Parameter]
    public string Header { get; set; }


}