
.value-input ::deep input {
    border: 0;
    font-size: 20px;
    margin: 0;
    padding: 1px;
}

    .value-input ::deep input:hover {
        padding: 0px;
        border: 1px dotted grey;
    }
