@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>Minions</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>


       <div class="top-row">
           <SectionOutlet SectionName="InHeader"></SectionOutlet>

            <MudButtonGroup Variant="Variant.Outlined">
                <MudButton Href="/minions/Test"
                           Variant="Variant.Outlined"> Test </MudButton>
                <MudButton Href="/minions/Job"
                           Variant="Variant.Outlined"> Job </MudButton>
                <MudButton Href="/minions/Ass"
                           Variant="Variant.Outlined"> Asset </MudButton>
                <MudButton Href="/minions/Cam"
                           Variant="Variant.Outlined"> campaigns </MudButton>
            </MudButtonGroup>
       </div>



        <article class="content px-4">
            @Body
        </article>
    </main>





</div>
