.general {
    display: flex;
    justify-content: space-around;
    margin-top:15px;
}

::deep .list{
    border: solid 3px black;
}

.preview-image {
    max-width: 80px;
    max-height: 80px;
    object-fit: contain;
}