.general {
    display: flex;
    justify-content: space-around;
    margin-top:15px;
}

::deep .list{
    border: solid 3px black;
}

.preview-image {
    max-width: 80px;
    max-height: 80px;
    object-fit: contain;
}

.img-placeholder {
    width: 80px;
    height: 80px;
    border: 1px dashed grey;
}

.menu-column {
    text-align: right;
    padding-right: 0px;
    margin-right: -15px;
}

