
.value-input ::deep input {
    border: 0;
    font-size: 20px;
    margin: 0;
    padding: 1px;
}

    .value-input ::deep input:hover {
        padding: 0px;
        border: 1px dotted grey;
    }

.general {
    display: flex;
    justify-content: space-around;
}


.item {
    display: flex;
    border: 1px solid gray;
    flex: 1;
    flex-direction: column;
    gap: 5px;
    position: relative;
    height: 80px;
    max-width: 300px;
    border-radius: 8px;
    overflow: hidden;
    /*box-shadow: 0px 1px 23px 9px rgba(0,0,0,0.1);*/
}

.header {
    display: flex;
    background-color: #c9c9c9;
    border-bottom: 1px solid gray;
    color: black;
    justify-content: center;
    font-size: 25px;
    background: linear-gradient(180deg, rgb(118,106,231) 0%, rgba(89,74,226,1) 100%);
    color: white;
}

.content-con {
    display: flex;
    flex: 1;
    color: black;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    font-size: 25px;

}
.smallcon {
    
    
    font-weight: normal;
  
    font-size: 15px;
    margin-left: 4px;
}

.footer-el {
    display: flex;
    color: black;
    justify-content: center;
    font-size: 18px;
    position: absolute;
    opacity: 0.5;
    bottom: 2px;
}

.left {
    left: 2px;
}

.right {
    right: 2px;
}


* {
    box-sizing: content-box;
}
