.item {
    display: flex;
    border: 1px solid gray;
    flex: 1;
    flex-direction: column;
    gap: 5px;
    position: relative;
    height: 80px;
    max-width: 300px;
    border-radius: 8px;
    overflow: hidden;
}

.header {
    display: flex;
    background-color: #c9c9c9;
    border-bottom: 1px solid gray;
    color: black;
    justify-content: center;
    font-size: 25px;
    background: linear-gradient(180deg, rgb(118,106,231) 0%, rgba(89,74,226,1) 100%);
    color: white;
}

.content-container {
    display: flex;
    flex: 1;
    color: black;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
