@using Templates.Models
@inject NotificationService Notify;

<div class="item">

    <div class="header" title="@HeaderTitle"> @Header </div>
    <div class="content-container">
        <span title="@ContentTitle">
        @Content
        </span>        
    </div>
    <div>@ChildContent</div>
</div>

@code {
    [Parameter]
    public string Content { get; set; }
    [Parameter]
    public string ContentTitle { get; set; }

    [Parameter]
    public string Header { get; set; }
    [Parameter]
    public string HeaderTitle { get; set; }

    [Parameter]
    public TemplateRef Template { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}